.App{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #17f9f2;
    background-image: linear-gradient(315deg, #17f9f2 0%, #b0f9a9 74%);
    background-attachment: fixed;
    overflow-y: scroll;

}
.title{
    display: flex;
    justify-content: center;
    font-size: 5em;
    margin-bottom: 1em
}


