.habits-container{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: wrap;
  /* min-height: 100%; */
  /* padding: 3% 10% 0% 10%; */
  /* margin:8% 12.5% 10% 16%; */
  /* margin:12.5% 12.5% 12.5% 12.5%; */
  margin: 0% 0% 0 2%;
  /* border: solid 2px lightgray */
  }

.navbar {
  min-height: 100px;
  }
    